html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* font-family: Proxima Nova !important; */
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Playfair Display", serif, "Proxima Nova";
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  src: url("../pages/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("../pages/PlayfairDisplay-Bold.ttf");
  /* src: url("../pages/PlayfairDisplay-Regular.ttf"); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
